/venv
/media/videos/decompose_triangle/480p15/partial_movie_files/
/media/videos/decompose_triangle/1080p60/partial_movie_files
/media/videos/rotation_composition/480p15/partial_movie_files
/media/videos/rotation_composition/1080p60/partial_movie_files
/media/videos/vitali/480p15/partial_movie_files
/media/videos/vitali/1080p60/partial_movie_files
/media/videos/triangles/480p15/partial_movie_files
/media/videos/triangles/1080p60/partial_movie_files
/media/videos/so3/480p15/partial_movie_files
/media/videos/so3/1080p60/partial_movie_files
/media/Tex
/media/texts
