/venv
/media/videos/decompose_triangle/480p15/partial_movie_files/
/media/videos/decompose_triangle/1080p60/partial_movie_files/
/media/videos/rotation_composition/480p15/partial_movie_files
/media/videos/rotation_composition/1080p60/partial_movie_files
/media/Tex
/media/texts
